<% @title = "Items sold by #{@user.username}" %>
<% @body_title = "Items sold by #{@user.username}" %>


<% @items.each do |i| %>
    <div class="item_holder">
        <a href="/items/<%= i.id %>">
        <%= i.title %><br>
        by <%= i.author %>
        </a>
    </div>
    <br>
<% end %>
